rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function estaLogado() {
      return request.auth != null;
    }

    function ehFuncionario() {
      return estaLogado()
        && exists(/databases/$(database)/documents/usuarios/$(request.auth.uid))
        && get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.papel == 'funcionario';
    }

    match /usuarios/{uid} {
      allow read: if estaLogado() && request.auth.uid == uid;
      allow create, update, delete: if false;
    }

    match /reservas/{reservaId} {

      allow read: if estaLogado();

      allow create: if estaLogado()
        && request.resource.data.professorUid == request.auth.uid;

      allow update: if false;

      allow delete: if estaLogado() && (
           resource.data.professorUid == request.auth.uid
        || ehFuncionario()
      );
    }

    match /{documento=**} {
      allow read, write: if false;
    }
  }
}
